<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="articleImage" [style.background-image]="getSafeStyle(article?.elements[0].url)"></div>
  <div class="articleContent">
    <h3>{{ article?.title }}</h3>
    <div class="articleSource">{{ article?.website.name }}</div>
    <div class="contant" [innerHTML]="article?.structuredText"></div>
  </div>
</ion-content>
