<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="topHeadlines">
      <h2 class="ion-padding">Top Headliness</h2>
      <div class="articlesList">
        <div class="scroll" scrollX="true">
          <div class="articleBlock" *ngFor="let article of topHeadlines; let i = index" (click)="getDetail(i)">
            <div class="articleImage" [style.background-image]="getSafeStyle(article?.elements[0].url)"></div>
            <div class="articleContent">
              <h3>{{ article?.title }}</h3>
              <div class="articleSource">{{ article?.website.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="categoriesList">
      <div class="scroll" scrollX="true">
        <ion-button shape="round" fill="outline">business</ion-button>
        <ion-button shape="round" fill="outline">entertainment</ion-button>
        <ion-button shape="round" fill="outline">health</ion-button>
        <ion-button shape="round" fill="outline">science</ion-button>
        <ion-button shape="round" fill="outline">sports</ion-button>
        <ion-button shape="round" fill="outline">technology</ion-button>
      </div>
    </div>
  </div>
</ion-content>