.articleImage {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  border-radius: 15px;
}

.articleContent {
  padding: 10px;
  float: left;
  width: 70vw;
}

.articleContent h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleSource {
  color: #8c8c8c;
}

.articlesList {
  height: 400px;
  width: 400px;
  overflow: hidden; 
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    overflow: auto;
  }
}

.articleBlock {
  margin-left: 20px;
  display: inline-block;
}


// CATEGORIES SECTION
.categoriesList {
  height: 50px;
  width: 400px;
  overflow: hidden; 
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    overflow: auto;
  }
}

.categoriesList ion-button {
  margin-left: 10px;
}
